<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>НЗСЭ | Контакты</title>

    <link rel="stylesheet" href="../style.css" />
    <script type="module" src="../script.js" defer></script>
  </head>
  <body>
    <header class="container">
      <div class="logo">
        <a href="/">
          <img style="width: 100%" src="../assets/images/logo.png" alt="logo" />
        </a>
      </div>
      <nav class="desktop">
        <a href="../templates/products.html">ТОВАРЫ</a
        ><a href="../templates/services.html">УСЛУГИ</a
        ><a class="activ" href="../templates/contacts.html">КОНТАКТЫ</a>
      </nav>
      <div class="header-contacts">
        <div class="header-contacts__wa">
          <a href="">
            <svg class="icon-WA">
              <use xlink:href="../assets/sprite.svg#iconWA"></use>
            </svg>
          </a>
        </div>
        <div class="header-contacts__tel">
          <a href="/">
            <svg class="icon-tel">
              <use xlink:href="../assets/sprite.svg#iconTel"></use>
            </svg>
          </a>
        </div>
      </div>
      <!-- мобильное меню -->
      <div class="mobil-menu">
        <input
          class="mobil-menu__btn_checkbox"
          type="checkbox"
          id="mobilMenuBtn"
        />
        <label class="mobil-menu__btn_hamburger" for="mobilMenuBtn">
          <span class="hamburger-line"></span>
        </label>
        <nav class="mobil-menu__link">
          <a href="../templates/products.html">ТОВАРЫ</a>
          <a href="../templates/services.html">УСЛУГИ</a>
          <a class="activ" href="../templates/contacts.html">КОНТАКТЫ</a>
          <div class="header-contacts-mobil-menu">
            <div class="header-contacts__tel-mobil">
              <a href="">
                <svg class="icon-tel-mobil">
                  <use xlink:href="../assets/sprite.svg#iconTel"></use>
                </svg>
              </a>
            </div>
            <div class="header-contacts__wa-mobil">
              <a href="">
                <svg class="icon-WA-mobil">
                  <use xlink:href="../assets/sprite.svg#iconWA"></use>
                </svg>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <article class="contacts container">
        <h1 class="h1-page h1-contacts">КОНТАКТЫ</h1>
        <nav class="breadcrumbs breadcrumbs-contacts">
          <a href="/">Главная&nbsp;</a>
          <a href="../templates/contacts.html">-&nbsp;Контакты</a>
        </nav>
        <nav class="button-contact-region">
          <button
            data-number="1"
            class="act-btn-contact-region button-contact-region__btn"
          >
            Новочеркасск
          </button>
          <span class="button-contact-region__btn">&nbsp;/&nbsp;</span>
          <button data-number="2" class="button-contact-region__btn">
            Георгиевск
          </button>
        </nav>
        <section data-number="1" class="region-box">
          <div class="contact-box">
            <div class="contact-company">
              <div class="contact-company__header">
                <div class="contact-company__left">
                  <h2>АДРЕС:</h2>
                  <p>
                    346441, Ростовская&nbsp;обл, г.&nbsp;Новочеркасск,
                    ул.&nbsp;Полевая&nbsp;3
                  </p>
                  <a href="mailto:info@ooonzse.ru">info@ooonzse.ru</a>
                </div>
                <div class="contact-company__right">
                  <h2>РЕЖИМ РАБОТЫ:</h2>
                  <p>с 8:00 до 17:00</p>
                  <a href="">ПОЗВОНИТЬ</a>
                </div>
              </div>
              <div class="contact-map">
                <div style="position: relative; overflow: hidden">
                  <a
                    href="https://yandex.ru/maps/238/novocherkassk/?utm_medium=mapframe&utm_source=maps"
                    style="
                      color: #eee;
                      font-size: 12px;
                      position: absolute;
                      top: 0px;
                    "
                    >Новочеркасск</a
                  ><a
                    href="https://yandex.ru/maps/238/novocherkassk/house/polevaya_ulitsa_3/YEkYdgVmTU0BQFptfX94eH5kZA==/?ll=40.026485%2C47.399270&utm_medium=mapframe&utm_source=maps&z=16.65"
                    style="
                      color: #eee;
                      font-size: 12px;
                      position: absolute;
                      top: 14px;
                    "
                    >Полевая улица, 3 — Яндекс Карты</a
                  ><iframe
                    src="https://yandex.ru/map-widget/v1/?ll=40.026485%2C47.399270&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNTM1MTU5OTg0EmnQoNC-0YHRgdC40Y8sINCg0L7RgdGC0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQndC-0LLQvtGH0LXRgNC60LDRgdGB0LosINCf0L7Qu9C10LLQsNGPINGD0LvQuNGG0LAsIDMiCg0fGyBCFdqYPUI%2C&z=16.65"
                    width="560"
                    height="400"
                    frameborder="1"
                    allowfullscreen="true"
                    style="position: relative"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="card-comand">
            <div class="comand-avatar">
              <img src="../assets/images/product/product3.png" alt="avatar" />
            </div>
            <div class="comand-description">
              <div class="comand-avatar-mob">
                <img src="../assets/images/product/product3.png" alt="avatar" />
              </div>
              <h2>МАРКОВА АНАСТАСИЯ</h2>
              <div class="comand-description-main">
                <h2>МАРКОВА АНАСТАСИЯ</h2>
                <p>Менеджер отдела продаж</p>
                <p>markovaau@ooonzse.ru</p>
              </div>
              <div class="card-comand__btn">
                <a href="tel:#">ПОЗВОНИТЬ</a>
                <a href="https://wa.me/#">
                  <span>НАПИСАТЬ</span>
                  <svg class="icon-WA">
                    <use xlink:href="../assets/sprite.svg#iconWA"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="card-comand">
            <div class="comand-avatar">
              <img src="../assets/images/product/product3.png" alt="avatar" />
            </div>
            <div class="comand-description">
              <div class="comand-avatar-mob">
                <img src="../assets/images/product/product3.png" alt="avatar" />
              </div>
              <h2>МАРКОВА АНАСТАСИЯ</h2>
              <div class="comand-description-main">
                <h2>МАРКОВА АНАСТАСИЯ</h2>
                <p>Менеджер отдела продаж</p>
                <p>markovaau@ooonzse.ru</p>
              </div>
              <div class="card-comand__btn">
                <a href="tel:#">ПОЗВОНИТЬ</a>
                <a href="https://wa.me/#">
                  <span>НАПИСАТЬ</span>
                  <svg class="icon-WA">
                    <use xlink:href="../assets/sprite.svg#iconWA"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </section>
        <section data-number="2" class="region-box">
          <div class="contact-box">
            <div class="contact-company">
              <div class="contact-company__header">
                <div class="contact-company__left">
                  <h2>АДРЕС:</h2>
                  <p>
                    357820, Ставропольский&nbsp;край, г.&nbsp;Георгиевск,
                    ул.&nbsp;Октябрьская,&nbsp;116
                  </p>
                  <a href="mailto:info@ooonzse.ru">info@ooonzse.ru</a>
                </div>
                <div class="contact-company__right">
                  <h2>РЕЖИМ РАБОТЫ:</h2>
                  <p>с 8:00 до 17:00</p>
                  <a href="">ПОЗВОНИТЬ</a>
                </div>
              </div>
              <div class="contact-map">
                <div style="position: relative; overflow: hidden">
                  <a
                    href="https://yandex.ru/maps/11056/georgievsk/?utm_medium=mapframe&utm_source=maps"
                    style="
                      color: #eee;
                      font-size: 12px;
                      position: absolute;
                      top: 0px;
                    "
                    >Георгиевск</a
                  ><a
                    href="https://yandex.ru/maps/11056/georgievsk/house/oktyabrskaya_ulitsa_116/YEoYcgJnT0cPQFpufX13dX9gYA==/?ll=43.457628%2C44.164334&utm_medium=mapframe&utm_source=maps&z=16"
                    style="
                      color: #eee;
                      font-size: 12px;
                      position: absolute;
                      top: 14px;
                    "
                    >Октябрьская улица, 116 — Яндекс Карты</a
                  ><iframe
                    src="https://yandex.ru/map-widget/v1/?ll=43.457628%2C44.164334&mode=whatshere&whatshere%5Bpoint%5D=43.457628%2C44.164334&whatshere%5Bzoom%5D=17&z=16"
                    width="560"
                    height="400"
                    frameborder="1"
                    allowfullscreen="true"
                    style="position: relative"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="card-comand">
            <div class="comand-avatar">
              <img src="../assets/images/product/product3.png" alt="avatar" />
            </div>
            <div class="comand-description">
              <div class="comand-avatar-mob">
                <img src="../assets/images/product/product3.png" alt="avatar" />
              </div>
              <h2>ЛИСТОПАД СВЕТЛАНА АЛЕКСЕЕВНА</h2>
              <div class="comand-description-main">
                <h2>ЛИСТОПАД СВЕТЛАНА АЛЕКСЕЕВНА</h2>
                <p>Менеджер отдела продаж</p>
                <p>markovaau@ooonzse.ru</p>
              </div>
              <div class="card-comand__btn">
                <a href="tel:#">ПОЗВОНИТЬ</a>
                <a href="https://wa.me/#">
                  <span>НАПИСАТЬ</span>
                  <svg class="icon-WA">
                    <use xlink:href="../assets/sprite.svg#iconWA"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="card-comand">
            <div class="comand-avatar">
              <img src="../assets/images/product/product3.png" alt="avatar" />
            </div>
            <div class="comand-description">
              <div class="comand-avatar-mob">
                <img src="../assets/images/product/product3.png" alt="avatar" />
              </div>
              <h2>ЛИСТОПАД СВЕТЛАНА АЛЕКСЕЕВНА</h2>
              <div class="comand-description-main">
                <h2>ЛИСТОПАД СВЕТЛАНА АЛЕКСЕЕВНА</h2>
                <p>Менеджер отдела продаж</p>
                <p>markovaau@ooonzse.ru</p>
              </div>
              <div class="card-comand__btn">
                <a href="tel:#">ПОЗВОНИТЬ</a>
                <a href="https://wa.me/#">
                  <span>НАПИСАТЬ</span>
                  <svg class="icon-WA">
                    <use xlink:href="../assets/sprite.svg#iconWA"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>
    <footer>
      <div class="footer-box container">
        <div class="footer__left">
          <p>&copy;&nbsp;Все&nbsp;права&nbsp;защищены. ООО&nbsp;«НЗСЭ»</p>
        </div>
        <div class="footer__right">
          <a href="mail:info@ooonzse.ru">info@ooonzse.ru</a>
        </div>
      </div>
    </footer>
    <!-- мобильные кнопки контактов -->
    <div class="header-contacts-mobil">
      <div class="header-contacts__tel-mobil">
        <a href="">
          <svg class="icon-tel-mobil">
            <use xlink:href="../assets/sprite.svg#iconTel"></use>
          </svg>
        </a>
      </div>
      <div class="header-contacts__wa-mobil">
        <a href="">
          <svg class="icon-WA-mobil">
            <use xlink:href="../assets/sprite.svg#iconWA"></use>
          </svg>
        </a>
      </div>
    </div>
  </body>
</html>
